<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>particles.js</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="{{url_for('static', filename='css/style.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <style>
    .canvasjs-chart-credit {color: rgb(42, 42, 42, 0);}
    html {
      width: 100%;
      height: 100%;
    }
    body {
      background-color: black;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      
    }

    #particles-js {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
</style>
</head>
<body>

<!-- particles.js container -->
  <div style="margin-top: 50px; color: white;z-index: 1;" class="container">
    <center><h1 style="margin-top: 50px;">{% if id != None %}{% for x in data["Countries"] %} {% if x["ID"] == id %}{{x['Country']}}{% endif %} {% endfor %} {% else %} Select a location {% endif %}</h1></center>
    <form action="{{url_for('router')}}" method="POST">
    <div class="input-group mb-3">
        <button class="btn btn-outline-secondary" type="submit">Button</button>
        <select name="selectid" class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
            <option value="None" selected>{% if id != None %}{% for x in data["Countries"] %} {% if x["ID"] == id %}{{x['Country']}}{% endif %} {% endfor %} {% else %} Choose... {% endif %}</option>
            {% for x in data["Countries"] %}
            <option value="{{x['ID']}}">{{x['Country']}}</option>
            {% endfor %}
        </select>
      </div>
    </form>
    <iframe src="{{url_for('confirmed', _id=id)}}" frameborder="0" width="420" height="400px"></iframe>
    <iframe src="{{url_for('recovered', _id=id)}}" frameborder="0" width="420" height="400px"></iframe>
    <iframe src="{{url_for('deaths', _id=id)}}" frameborder="0" width="420" height="400px"></iframe>

    {% if id != None %}<center><hr class="dropdown-divider"></center>{% endif %}

    {% for x in data["Countries"] %}
    {% if x["ID"] == id %}
    <div class="card" style="width: 18rem; color: white;background-color: rgb(100, 100, 100, 0); float: left; border-color: rgb(42, 42, 42, 0);">
        <ul class="list-group list-group-flush" style="background-color: rgb(100, 100, 100, 0);">
          <li class="list-group-item" style="background-color: rgb(42, 42, 42, 0);">Recovered : {% if x["TotalRecovered"] == 0 or x["TotalConfirmed"] == 0 %}Not Enough Data{% else %}{{'%0.2f'| format((x["TotalRecovered"] / x["TotalConfirmed"]) * 100 |float) }}%{% endif %}</li>
          <li class="list-group-item" style="background-color: rgb(42, 42, 42, 0);">Death : {% if x["TotalDeaths"] == 0 or x["TotalConfirmed"] == 0 %}Not Enough Data{% else %}{{'%0.2f'| format((x["TotalDeaths"] / x["TotalConfirmed"]) * 100 |float) }}%{% endif %}</li>
        </ul>
      </div>
      <div class="card" style="width: 18rem; color: white;background-color: rgb(100, 100, 100, 0); float: left; border-color: rgb(42, 42, 42, 0);">
        <ul class="list-group list-group-flush" style="background-color: rgb(100, 100, 100, 0);">
          <li class="list-group-item" style="background-color: rgb(42, 42, 42, 0);">Total Cases : {{"{:,.2f}".format(x["TotalConfirmed"])[:-3] }}</li>
          <li class="list-group-item" style="background-color: rgb(42, 42, 42, 0);">Total Recovered : {{"{:,.2f}".format(x["TotalRecovered"])[:-3] }}</li>
          <li class="list-group-item" style="background-color: rgb(42, 42, 42, 0);">Total Deaths : {{"{:,.2f}".format(x["TotalDeaths"])[:-3] }}</li>
        </ul>
      </div>
      <div class="card" style="width: 18rem; color: white;background-color: rgb(100, 100, 100, 0); float: left; border-color: rgb(42, 42, 42, 0);">
        <ul class="list-group list-group-flush" style="background-color: rgb(100, 100, 100, 0);">
          <li class="list-group-item" style="background-color: rgb(42, 42, 42, 0);">New Cases : {{"{:,.2f}".format(x["NewConfirmed"])[:-3] }}</li>
          <li class="list-group-item" style="background-color: rgb(42, 42, 42, 0);">New Recovered : {{"{:,.2f}".format(x["NewRecovered"])[:-3] }}</li>
          <li class="list-group-item" style="background-color: rgb(42, 42, 42, 0);">New Deaths : {{"{:,.2f}".format(x["NewDeaths"])[:-3] }}</li>
        </ul>
      </div>
      <div class="card" style="width: 18rem; color: white;background-color: rgb(100, 100, 100, 0); float: left; border-color: rgb(42, 42, 42, 0);">
        <ul class="list-group list-group-flush" style="background-color: rgb(100, 100, 100, 0);">
          <li class="list-group-item" style="background-color: rgb(42, 42, 42, 0);">Global Cases : {{"{:,.2f}".format(data["Global"]["TotalConfirmed"])[:-3] }}</li>
          <li class="list-group-item" style="background-color: rgb(42, 42, 42, 0);">Global Recovered : {{"{:,.2f}".format(data["Global"]["TotalRecovered"])[:-3] }}</li>
          <li class="list-group-item" style="background-color: rgb(42, 42, 42, 0);">Global Deaths : {{"{:,.2f}".format(data["Global"]["TotalDeaths"])[:-3] }}</li>
        </ul>
      </div>
      {% endif %}
    {% endfor %}
    <div class="container" style="color: white;position: absolute;bottom: 0px;">
      Developer: Reece Harris <a href="https://devreece.tech"><i class="fas fa-globe"></i></a> <a href="https://github.com/NotReeceHarris/"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div id="particles-js" style="background-color: #2a2a2a;"></div>


</body>
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://kit.fontawesome.com/1a72356dcf.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/particles.js')}}"></script>
<script src="{{url_for('static', filename='js/app.js')}}"></script>
</html>